.md-button {
  padding: 0 6px 0 6px;
  margin: 6px 8px 6px 8px;
  min-width: 88px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
}

.fabSpeedDialdemoBasicUsage .text-capitalize {
  text-transform: capitalize; }

.fabSpeedDialdemoBasicUsage .md-fab:hover, .fabSpeedDialdemoBasicUsage .md-fab.md-focused {
  background-color: #000 !important; }

.fabSpeedDialdemoBasicUsage p.note {
  font-size: 1.2rem; }

.fabSpeedDialdemoBasicUsage .lock-size {
  min-width: 300px;
  min-height: 300px;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto; }

html{
	height: 100%;
	width:100%; 
	margin:0; 
	padding:0;
}
	body {
		height: 100%;
	width:100%; 
		margin:0; 
		padding:0;
	    padding: 0;
	    text-align: center;
	    background-image: url("../WallFall.jpg");
	    background-size: cover;
    	background-repeat: no-repeat;

	    overflow: hidden;

	}

	a {
		font-size: 20px;
	}

	a:visited{
		color: #222222;
	}
	a:hover{
			color: #FFFFFF;
	}
	a:active{
		color: #FFFFFF;
	}
	a:link{
		color: #222222;
	}

	

	.mytext {
		max-width: 800px;
		min-width: 400px;
    width: 60%;
    /*height: 2em;*/
    font-size: 1.3em;
	}

	.shortcut{
		padding:5px;
		max-width: 100px;
		min-width: 80px;
	}

	.overlay{
		background-color: rgba(255, 255, 255, 0.9);
	}

	#clock{
		float: left;
		 padding-top: 65px;
		  padding-bottom: 40px;
		    width: 50%;
		     font-size: 3em;
		      text-align: center;
	}

	#classInfo{
		float: right;
		 padding-top: 20px;
		  padding-bottom: 20px;
		   width: 50%
	}

	@media (max-width: 700px) { 
		#clock{
			display:none;
			float: left;
		 padding: 0;
		    width: 0%;
		     font-size: 0em;
		      text-align: center;
		}
		#classInfo{
			float: left;
			width: 100%;
		}

	 }
